body {
  margin: auto 0;
  font-family: Simonetta;
  background-color: #100e17;
  color: #e7e7e8;
}

.zone {
  font-size: 2em;
  border-radius: 4px;
  transition: all 0.3s linear;
}

.zone:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -o-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}

.grid-wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(260px, 300px));
  margin-left: 100px;
  margin-right: 100px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: sans-serif;
  margin-bottom: 20px;
}

.box {
  background-color: #242327;
  opacity: 0.7;
  width: 300px;
}

/*NAV*/

.main-nav {
  display: flex;
  list-style: none;
  font-size: 0.7em;
  margin: 0;
  justify-content: center;
  padding-left: 0;
}

.nav-item {
  padding: 20px;
  margin-left: 10px;
}

a {
  color: #e7e7e8;
  text-decoration: none;
}

a:hover {
  color: #0bbba0;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  font-family: sans-serif;
  font: bolder;
}

.blog-img {
    border-radius: 5px;
    cursor: pointer;
}

.blog-title {
    font-size: 20px;
}

.post {
    font-size: 14px;
}

.blog-data {
    font-size: 12px;
}

.blog {
    margin: 10px;
}

footer {
    text-align: center;
}

span {
    font-size: 20px;
}