body {
    margin: auto 0;
    font-family: Simonetta;
    background-color: #100e17;
    color: #e7e7e8;
  }
  
  .zone {
    font-size: 2em;
    border-radius: 4px;
    transition: all 0.3s linear;
  }
  
  .zone:hover {
    -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
      inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
      inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    -o-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
      inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
      inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  }

  .zone-left {
    font-size: 2em;
    border-radius: 5px;
    transition: all 0.3s linear;
    -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
      inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
      inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    -o-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
      inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 8px 30px,
      inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  }

  #h1 {
    font-size: 35px;
    text-align: center;
  }

  #quote {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
  }


  /*NAV*/

.main-nav {
  display: flex;
  list-style: none;
  font-size: 0.7em;
  margin: 0;
  justify-content: center;
  padding-left: 0;
  margin-bottom: 20px;
}

.nav-item {
  padding: 20px;
  margin-left: 10px;
}

a {
  color: #e7e7e8;
  text-decoration: none;
}

a:hover {
  color: #0bbba0;
}

.grid-wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(750px, 500px));
  margin-left: 60px;
  /* margin-right: 100px; */
  padding-left: 50px;
  /* padding-right: 50px; */
  font-family: sans-serif;
  margin-bottom: 20px;
}

.grid-wrapper-side {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* margin-left: 100px; */
  margin-right: 60px;
  padding-left: 50px;
  padding-right: 50px;
  font-family: sans-serif;
  margin-bottom: 20px;

}

.zone-side {
  font-size: 2em;
    border-radius: 5px;
    transition: all 0.3s linear;
    -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
      inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
      inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    -o-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
      inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
    box-shadow: rgba(0, 0, 0, 0.8) 0px 8px 30px,
      inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  padding: 30px;
  text-align: center;

}

.Pside {
  margin-top: 0px;
  font-size: 16px;
}

h6 {
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 25px;
}

#mid {
  display: flex;
}

#nadeem {
  display: flex;
}

p {
  font-size: 20px;
  margin-left: 15px;
  margin-right: 15px;
}

.grid{
  display: flex;
}

.wow {
  display: inline-flex;
  padding-left: 0px;
}

.fa {
  padding: 10px;
  font-size: 14px;
}

ul {
  list-style: none;
}




@media only screen and (max-width: 600px) {
    .main-nav {
      font-size: 0.5em;
      padding: 0;
      margin-left: 0px;
    }
    .nav-item {
      margin-left: 7px;
      padding-right: 5px;
      padding-left: 5px;
    }
  
    .grid-wrapper {
      margin-left: 0px;
      margin-right: 0px;
      padding-left: 40px;
      padding-right: 50px;
    }
  
  }