.webinar_comp {
  padding: 6rem 2rem 6rem;
  text-align: center;
  height: auto;
}
.webinar_grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}
.webinar {
  background-color: var(--color-primary-accent);
  width: 350px;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}
.webinar > h2 {
  font-size: 18px;
}
.webinar:hover {
  border: 1px solid var(--color-anchor-hover);
}
.webinar_details {
  display: flex;
  justify-content: space-between;
}
.webinar_link {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 450px) {
  .webinar_comp {
    width: 100%;
  }
}
