.blogs {
  padding: 6rem 2rem 6rem;
  text-align: center;
  height: auto;
}
.container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.item {
  position: relative;
  flex-shrink: 0;
  width: 300px;
  height: auto;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  background-color: var(--nav-bg-color);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.heading {
  font-size: 1rem;
  font-family: sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}

.blog__content {
  padding: 10px;
}

.item > a > img {
  width: 100%;
  border-radius: 0.5rem;
}

.item:hover {
  border: 1px solid var(--color-anchor-hover);
}

.description {
  font-size: 2rem;
  background-color: #dedede;
  padding: 10px;
  height: 200px;
}

.open:hover {
  cursor: pointer;
}
