body {
  margin: auto 0;
  font-family: Simonetta;
  background-color: #100e17;
  color: #e7e7e8;
  background-image: url(/assets/img/map-color-overlay.png);
}

.zone {
  font-size: 2em;
  border-radius: 4px;
  transition: all 0.3s linear;
}

.zone:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -o-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}

.grid-wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin-left: 100px;
  margin-right: 100px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  font-family: sans-serif;
  margin-bottom: 20px;
}

.box {
  background-color: #242327;
  opacity: 0.7;
}

.fa {
  margin-top: 15px;
  margin-bottom: 5px;
}

/*NAV*/

.main-nav {
  display: flex;
  list-style: none;
  font-size: 0.7em;
  margin: 0;
  justify-content: center;
  padding-left: 0;
}

.nav-item {
  padding: 20px;
  margin-left: 10px;
}

a {
  color: #e7e7e8;
  text-decoration: none;
}

a:hover {
  color: #0bbba0;
}

.mobile-view {
  display: none;
}

#techonologist {
  display: none;
}

.cross {
  display: none;
}

h2 {
  text-align: center;
  margin-bottom: 40px;
  font-family: sans-serif;
  font: bolder;
}

.contact {
  text-align: center;
}

input {
  background-color: transparent;
  color: #e7e7e8;
  border-color: #e7e7e8;
  border-radius: 5px;
  padding-left: 5px;
  margin-bottom: 20px;
  margin-left: 20px;
  padding: 10px;
}

textarea {
  background-color: transparent;
  color: #e7e7e8;
  border-color: #e7e7e8;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-left: 20px;
}

#email {
  width: 460px;
}

.btn {
  margin-left: 20px;
  width: 460px;
  border-radius: 20px;
}

footer {
  padding: 10px 0px;
  opacity: 0.7;
  color: #e7e7e8;
  margin-top: 90px;
  text-align: center;
}

footer a {
  transition: 400ms;
}

footer a:hover {
  color: #989898;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .mobile-view {
    position: relative;
    top: 20px;
  display: block;
  float: right;
  margin-right: 23px;
  }
  #menu {
    position: relative;
    float: right;
  }
  .nav-popup {
    background-color: #100e17;
    display: flex;
    position: relative;
      top: 10px;
      margin-left: 20px;
      margin-right: 20px;
      border-radius: 20px;
      padding: 22px;
      border: 1px solid black;
  }
  .main-nav {
      font-size: 0.5em;
      padding: 0;
      display: block;
  }
  .desktop-view {
    display: none;
  }
  .expand {
    display: block;
  }
  .logo {
    font-weight: 600;
  }
  #techonologist {
    display: inline;
  }
  #home {
    display: none;
  }
  .zone:hover {
    box-shadow: unset;
  }
.nav-item {
    margin-left: 10px;
    padding: 5px;
}
.container {
    position: relative;
    top: 50px;
    position: absolute;
    z-index: -1;
}

  .grid-wrapper {
    margin-left: 0px;
    margin-right: 0px;
  }

  #email {
    width: 90%;
  }
  .btn {
    margin-left: 0px;
    width: 90%;
  }
  input {
    margin-left: 0px;
    padding: 5px;
    width: 90%;
  }
  
  textarea {
    margin-left: 0px;
    width: 90%;
  }
  footer {
    margin-top: 0px;
  }
}