body {
  margin: auto 0;
  background-color: #100e17;
  color: white;
}

.zone {
  font-size: 2em;
  border-radius: 4px;
  transition: all 0.3s linear;
}

.zone:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -o-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}

/*NAV*/

#navbar {
  display: flex;
  list-style: none;
  font-size: 0.7em;
  margin: 0;
  justify-content: center;
  padding-left: 0;
  transition: top 0.3s;
  position: fixed;
  width: 100%;
  z-index: 1001;
}

.navbar-fixed-top.scrolled {
  background-color: #202026 !important;
  transition: background-color 200ms linear;
}

.nav-item {
  padding: 20px;
  margin-left: 10px;
}

a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
}

a:hover {
  color: #0bbba0;
}

.mobile-view {
  display: none;
}

#techonologist {
  display: none;
}

.cross {
  display: none;
}

/*Cover*/
.mh-header-info {
  font-size: 17px;
  color: #e7e7e8;
  font-family: sans-serif;
  margin-left: 200px;
}

.hello {
  background-color: #0bceaf;
  padding: 10px 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 0px;
  font-size: 14px;
  margin-bottom: 30px;
}

.my-name {
  margin-bottom: 5px;
  font-size: 50px;
  margin-top: 50px;
}

code {
  background-color: transparent;
}

.work {
  margin-top: 15px;
}

.info {
  list-style: none;
}

.info-items {
  padding: 7px;
  display: inline-flex;
}

ul {
  list-style: none;
}

.container {
  display: flex;
  justify-content: left;
}

.img {
  padding-top: 100px;
}

#about-para {
  font-size: 18px;
}

.cover {
  border-radius: 50%;
  width: 400px;
  height: 400px;
  border: 2px solid #31bbdf;
  border-radius: 50%;
}

.fa {
  margin-right: 15px;
}

.info {
  display: grid;
}

.info li .fa {
  padding: 2px 7px;
  font-size: 18px;
  line-height: 30px;
  margin-right: 10px;
  transition: 0.3s;
  border-radius: 3px;
}

.info li .fa:hover {
  color: #0bceaf;
  background-color: white;
}

.wow {
  display: inline-flex;
  padding: 10px;
}

.social-icon li .fa {
  font-size: 18px;
  line-height: 30px;
  padding: 4px 14px;
  margin-right: 10px;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border-radius: 3px;
}

.social-icon {
  margin-bottom: 0px;
}

.social-icon li .fa:hover {
  background-color: white;
}

.about {
  color: #e7e7e8;
  padding-top: 80px;
}

.markup {
  display: grid;
  grid-gap: 15px;
  grid-template: auto/ auto auto auto;
}

ul {
  padding-inline-start: 0px;
}

.skills {
  margin: 10px;
  font-weight: bold;
  text-align: center;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
}

#about-separate {
  background-color: #202026;
}

.certificates {
  margin-left: 142px;
}

.certificates a h2 {
  padding: 3px;
}

.certificates a h2 {
  background-color: #31bbdf;
  border-radius: 4px;
  color: #202026;
  border: 1px solid white;
}

#portfolio {
  padding-top: 150px;
}

.portfolio-grid {
  display: none;
}

#portfolio h2 {
  margin-bottom: 50px;
  color: white;
  text-align: center;
}

#flex {
  display: flex;
  justify-content: center;
}

.box > img {
  width: 100%;
}

.box {
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 4px #00000015;
}

#graphic-design {
  text-align: center;
  color: white;
  margin-left: 100px;
  margin-right: 100px;
}

.yellow {
  color: #ffc600;
}

.graphic img {
  width: 250px;
}

.graphic p {
  margin-top: 90px;
  padding-bottom: 24px;
  padding-left: 20px;
}

.header-card {
  display: grid;
  align-items: center;
  justify-content: center;
}

#web-dev {
  margin-top: 50px;
}

.grid-wrapper-developer {
  grid-template-columns: repeat(auto-fill, minmax(332px, 1fr));
  padding: 25px 50px 0px 50px;
}

#app-dev {
  margin-top: 50px;
}

#blogs {
  padding-top: 150px;
  margin-top: -50px;
}

.fa-medium,
.fa-dev {
  font-size: 50px;
}

.blog-platforms h2 {
  margin-top: 50px;
  margin-bottom: 50px;
  color: white;
  text-align: center;
}

.grid-wrapper-blogs {
  display: grid;
  grid-gap: 40px;
  grid-template: 256px/ 256px 256px;
}

#contact {
  padding-top: 150px;
  margin-top: -100px;
}

#contact h2 {
  text-align: center;
  color: white;
  margin-top: 50px;
  margin-bottom: 50px;
}

.grid-wrapper-contact {
  text-align: center;
  justify-content: center;
  color: white;
  display: grid;
  grid-gap: 20px;
  grid-template: 400px/ 550px;
}

.contact-box {
  margin-top: 100px;
}

.contact-box-items {
  justify-content: center;
}

footer {
  padding: 10px 0px;
  opacity: 0.7;
  color: #e7e7e8;
  margin-top: 90px;
  text-align: center;
}

footer a {
  transition: 400ms;
}

footer a:hover {
  color: #989898;
  text-decoration: none;
}

/* width */
::-webkit-scrollbar {
  width: 12px;
  background-color: #f5f5f5;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #555;
}

@media only screen and (max-width: 600px) {
  #navbar {
    display: none;
  }

  .cover {
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .container {
    display: unset;
  }

  .hello {
    display: none;
  }

  .my-name {
    margin-top: auto;
  }

  .mh-header-info {
    text-align: center;
    margin-left: auto;
  }

  .info {
    display: inline-grid;
  }

  #about {
    text-align: center;
  }

  .about {
    padding-top: unset;
  }

  .skills {
    margin: 0px;
    font-size: 12px;
  }

  .certificates {
    display: flex;
    justify-content: center;
    margin-left: auto;
  }

  .about-cover {
    display: none;
  }

  #portfolio {
    padding-top: 50px;
  }

  .grid-wrapper,
  .grid-wrapper-blogs {
    grid-template: 256px/ 256px;
  }

  .portfolio-grid {
    display: unset;
  }

  #graphic-design {
    display: none;
  }

  #web-dev {
    display: none;
  }

  #app-dev {
    display: none;
  }

  #blogs {
    padding-top: 0px;
    margin-top: 0px;
  }

  #contact {
    padding-top: 0px;
    margin-top: 0px;
  }

  .grid-wrapper-contact {
    display: unset;
  }

  .contact-box {
    margin-top: 20px;
  }
}
