body {
  margin-top: 70px;
}

#title-certificates > h1 {
  text-align: center;
  margin-bottom: 50px;
}

.certificates-list {
  font-size: 14px;
}

.grid-wrapper-certificates {
  display: grid;
  grid-gap: 30px;
  grid-template: 70px/ 280px 280px 280px 280px;
  justify-content: center;
  list-style: none;
  align-items: center;
  line-height: 180%;
  padding: 0px;
}

.box-c {
  padding: 10px;
  box-shadow: 8px 8px 0 rgb(0 0 0 / 15%);
  margin: auto;
  width: 280px;
}

.fa-trophy {
  color: #ffc600;
}

.fa-external-link-alt {
  opacity: 0.2;
  margin-left: 10px;
}

.box-c > a {
  color: #f5f5f6;
}

.badges {
  margin-top: 100px;
}

.badges > h1 {
  text-align: center;
  margin-bottom: 50px;
}

.grid-wrapper-badges {
  display: grid;
  grid-gap: 20px;
  grid-template: 370px/ 300px 300px;
  justify-content: center;
}

.badge {
  padding: 30px;
  box-shadow: 8px 8px 0 rgb(0 0 0 / 15%);
  margin: auto;
  text-align: center;
}
.badge > div > img {
  width: 250px;
}

.qwiklabs {
  margin: 10px;
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
}

.q-heading > h1 {
  margin-bottom: 20px;
}

.q-description {
  margin-bottom: 50px;
}

.q-description > a {
  color: #f5f5f6;
  text-decoration: none;
}

.grid-wrapper-qwiklabs {
  display: grid;
  grid-gap: 20px;
  grid-template: 370px/ 300px 300px 300px 300px;
}

.box-q {
  padding: 30px;
  box-shadow: 8px 8px 0 rgb(0 0 0 / 15%);
  margin: auto;
  height: 300px;
}

.box-q > img {
  width: 240px;
}

@media only screen and (max-width: 600px) {
  .grid-wrapper-certificates {
    display: block;
  }

  .grid-wrapper-badges {
    display: block;
  }

  .grid-wrapper-qwiklabs {
    display: block;
  }
}
