.webdev {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head {
  margin: 50px;
}

.grid-wrapper-dev {
  display: grid;
  grid-gap: 20px;
  grid-template: 270px/ 438px 438px;
}

.live {
  display: block;
  height: 100px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
  z-index: 1001;
}

.bar p {
  margin: 5px;
  font-size: 18px;
  font-weight: bold;
}

.main img {
  width: 100%;
  height: 200px;
}

.image {
  opacity: 1;
  display: block;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .head {
    margin: 20px;
  }
  .grid-wrapper-dev {
    display: flex;
    flex-direction: column;
  }

  .webdev > ul {
    padding: 10px;
  }
}
