.testimonials__comp {
  padding: 6rem 2rem 6rem;
  text-align: center;
  height: auto;
}
.testimonials__grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  height: 280px;
  background-color: var(--nav-bg-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  margin: 10px;
  margin-top: 80px;
  text-align: left;
}
.testimonial:hover {
  border: 2px solid var(--color-anchor-hover);
}
.job__title {
  color: var(--color-paragraph);
  margin-bottom: 10px;
}
.recomendation {
  overflow-y: scroll;
}
.recomendation::-webkit-scrollbar {
  width: 1px;
}

@media screen and (max-width: 450px) {
  .testimonials__comp {
    width: 100%;
  }
  .testimonial {
    height: auto;
  }
}
