.footer {
  padding: 6rem 2rem 6rem;
  text-align: center;
  background-color: var(--nav-bg-color);
}
.footer__logo {
  font-family: 'BestermindRegular';
  font-weight: 900;
  font-size: 2rem;
  margin-bottom: 2rem;
  display: inline-block;
}
.permalinks {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0 auto 3rem;
}
.permalinks > li {
  list-style: none;
}
.footer__socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 4rem;
  font-size: 20px;
}
.footer__copyright {
  margin-bottom: 2rem;
}

/* Mobile View*/
@media only screen and (max-width: 450px) {
  .footer {
    width: 100%;
  }
  .permalinks {
    flex-direction: column;
    gap: 1.5rem;
  }
  .footer__socials {
    margin-bottom: 2.6rem;
  }
}
