.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.form__info > input {
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.255);
  margin-bottom: 20px;
  border: 1px solid lightgray;
  border: none;
  background: transparent;
  font-size: 16px;
  color: rgb(255, 255, 255);
  outline: none;
}

.form__data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__data > textarea {
  padding: 20px;
  border-radius: 3px;
  box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.255);
  margin-bottom: 20px;
  border: 1px solid lightgray;
  border: none;
  background: transparent;
  font-size: 16px;
  color: rgb(255, 255, 255);
  outline: none;
  width: 100%;
}

.form__data > textarea:focus {
  border: 1px solid rgb(24, 24, 49);
}

.form__data > textarea {
  height: 150px;
  max-width: 400px;
  min-height: 100px;
}

.form > button {
  padding: 10px;
  border: none;
  background-color: rgba(21, 18, 37, 0.8);
  font-weight: 500;
  font-size: 20px;
  border-radius: 3px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-top: 10px;
}

.form > button:hover {
  background-color: rgb(17, 15, 31) !important;
}

@media only screen and (max-width: 600px) {
  .form__info > input {
    width: 100%;
  }

  .form__info {
    margin-left: -20px;
  }
}
