.container {
  position: relative;
  display: grid;
  grid-gap: 20px;
  grid-template: auto/ 324px 324px 324px;
  padding: 20px;
  justify-content: center;
}

.item {
  position: relative;
  flex-shrink: 0;
  width: 300px;
  height: auto;
  border-radius: 5px;
  border: 2px solid #dedede;
  margin-right: 15px;
  padding: 10px;
  box-shadow: 5px 5px 10px #78787888;
}

.item > a {
  color: white;
}

.heading {
  font-size: 1rem;
  font-family: sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  margin-bottom: 5px;
}

.item > img {
  width: 100%;
}

.description {
  font-size: 2rem;
  background-color: #dedede;
  padding: 10px;
  height: 200px;
}

.open:hover {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}
