.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 6rem 2rem 6rem;
}
.contact__container {
  width: 58%;
  display: grid;
  grid-template-columns: 30% 58%;
  gap: 12%;
  margin-top: 30px;
}
.contact__options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.contact__option {
  background-color: var(--nav-bg-color);
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 2px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.contact__option:hover {
  background: transparent;
  border-color: var(--color-anchor-hover);
}
.contact__option__icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.contact__option > a {
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
}

/* ------------ FORM -------------*/
.contact__form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.contact__form > .form__input,
.form__textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  resize: none;
  color: var(--color-primary);
}
.contact__btn {
  background-color: var(--color-nav-bg);
  color: var(--color-primary);
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 150px;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.contact__btn:hover {
  background-color: var(--color-button);
  color: white;
}

@media screen and (max-width: 1024px) {
  .contact__container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }
}
@media screen and (max-width: 450px) {
  .contact__container {
    width: 100%;
  }
  .contact__form > .form__input,
  .form__textarea {
    width: auto;
  }
}
