body {
    margin: auto 0;
    font-family: Simonetta;
    background-color: #100e17;
    color: #e7e7e8;
}

.zone {
    font-size:2em;
    border-radius:4px;
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}


/*NAV*/

.main-nav {
    display: flex;
    list-style: none;
    font-size: 0.7em;
    margin: 0;
    justify-content: center;
    padding-left: 0;
  }

.section-separator {
    display: inline-flex;
    /*margin-top: 30px;*/
}

.nav-item {
    padding: 20px;
    margin-left: 10px;
}

a {
    color: #f5f5f6;
    text-decoration: none;
}

.mobile-view {
    display: none;
  }
  #techonologist {
    display: none;
  }
  
  .cross {
    display: none;
  }

a:hover {
    color: #0bbba0;
}

/* #flex {
  display: flex;
  justify-content: center;
}

.grid-wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template: 200px/ 300px;
}


.box > img {
  width: 100%;

}

.box {
  margin: 20px;
  background-color: #202026;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 4px #00000015
}

.graphic img {
  width: 250px;
  margin-top: 30px;
}

.graphic p {
  margin-top: 90px;
  padding-bottom: 24px;
  padding-left: 20px;
} */

h1 {
  margin-top: 10px;
}

.app {
  margin-top: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0px 10px 20px 4px #00000062;
}

.app img {
  border-radius: 20px;
  margin: 10px;
}

.app p {
  margin-left: 10px;
  margin-right: 50px;
}

.app button {
  margin-right: 10px;
}

@media only screen and (max-width: 600px) {
    .mobile-view {
        position: relative;
        top: 20px;
      display: block;
      float: right;
      margin-right: 23px;
      }
      #menu {
        position: relative;
        float: right;
      }
      .cross {
        margin-top: -20px;
      }
      .nav-popup {
        background-color: #100e17;
        display: flex;
        position: relative;
          top: 10px;
          margin-left: 20px;
          margin-right: 20px;
          border-radius: 20px;
          padding: 22px;
          border: 1px solid rgb(255, 255, 255);
          text-align: center;
      }
      .main-nav {
          font-size: 0.5em;
          padding: 0;
          display: block;
          margin-top: 20px;
      }
      .desktop-view {
        display: none;
      }
      .expand {
        display: block;
      }
      .logo {
        font-weight: 600;
      }
      #techonologist {
        display: inline;
      }
      #home {
        display: none;
      }
      .zone:hover {
        box-shadow: unset;
      }
    .nav-item {
        margin-left: 10px;
        padding: 5px;
    }
    .container {
        position: relative;
        top: 50px;
        position: absolute;
        z-index: -1;
    }

    .app p {
      font-size: 10px;
      margin-right: 10px;
    }
    .buttons {
      margin-right: 10px;
    }
    .source {
      display: none;
    }
}