body {
    margin: auto 0;
    font-family: Simonetta;
    background-color: #100e17;
    color: #e7e7e8;
}

.zone {
    font-size:2em;
    border-radius:4px;
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}


/*NAV*/

.main-nav {
    display: flex;
    list-style: none;
    font-size: 0.7em;
    margin: 0;
    justify-content: center;
    padding-left: 0;
  }

.section-separator {
    display: inline-flex;
    /*margin-top: 30px;*/
}

.nav-item {
    padding: 20px;
    margin-left: 10px;
}

a {
    color: #f5f5f6;
    text-decoration: none;
}

.mobile-view {
    display: none;
  }
  #techonologist {
    display: none;
  }
  
  .cross {
    display: none;
  }
a:hover {
    color: #0bbba0;
}

h1 , h2 {
	font-family: sans-serif;
}

.grid-wrapper {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.grid-wrapper-certificates {
  display: grid;
  grid-gap: 20px;
  grid-template: 500px/ 550px 550px;
  justify-content: center;
}

.grid-wrapper-certificates div p {
  text-align: center;
  font-size: 22px;
}

#title-certificates {
  margin-top: 50px;
  margin-bottom: 50px;
}

.grid-wrapper-illustration {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 50px;
    padding-right: 50px;
}


.box > img {
    width: 100%;

}

.box {
    margin: 20px;
}

.box:hover {
    transform: scale(1.1);
}

.item14 {
	grid-column: 2/4;
}

@media only screen and (max-width: 600px) {
    .mobile-view {
        position: relative;
        top: 20px;
      display: block;
      float: right;
      margin-right: 23px;
      }
      #menu {
        position: relative;
        float: right;
      }
      .cross {
        margin-top: -20px;
      }
      .nav-popup {
        background-color: #100e17;
        display: flex;
        position: relative;
          top: 10px;
          margin-left: 20px;
          margin-right: 20px;
          border-radius: 20px;
          padding: 22px;
          border: 1px solid rgb(255, 255, 255);
          text-align: center;
      }
      .main-nav {
          font-size: 0.5em;
          padding: 0;
          display: block;
          margin-top: 20px;
      }
      .desktop-view {
        display: none;
      }
      .expand {
        display: block;
      }
      .logo {
        font-weight: 600;
      }
      #techonologist {
        display: inline;
      }
      #home {
        display: none;
      }
      .zone:hover {
        box-shadow: unset;
      }
    .nav-item {
        margin-left: 10px;
        padding: 5px;
    }
    .container {
        position: relative;
        top: 50px;
        position: absolute;
        z-index: -1;
    }
    .grid-wrapper {
        margin-left: 0px;
        margin-right: 0px;
    }
    .grid-wrapper-illustration {
        margin-left: 0px;
        margin-right: 0px;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}