body {
  margin: auto 0;
  background-color: #100e17;
  color: #e7e7e8;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.zone {
  font-size: 2em;
  border-radius: 4px;
  transition: all 0.3s linear;
}

.zone:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -o-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}

.zone-web {
  font-size: 2em;
  border-radius: 4px;
  transition: all 0.3s linear;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;
  position: relative;
  display: block;
}

/*NAV*/

.main-nav {
  display: flex;
  list-style: none;
  font-size: 0.7em;
  margin: 0;
  justify-content: center;
  padding-left: 0;
}

.section-separator {
  display: inline-flex;
}

.nav-item {
  padding: 20px;
  margin-left: 10px;
}

#navbar {
  display: flex;
  list-style: none;
  font-size: 0.7em;
  margin: 0;
  justify-content: center;
  padding-left: 0;
  transition: top 0.3s;
  width: 100%;
  z-index: 1001;
  font-size: 17px;
}

.navbar-fixed-top {
  background-color: #202026 !important;
  transition: background-color 200ms linear;
}

a {
  color: #f5f5f6;
  text-decoration: none;
}

.mobile-view {
  display: none;
}
#techonologist {
  display: none;
}

.cross {
  display: none;
}
a:hover {
  color: #0bbba0;
}

.container-gd {
  margin-top: 60px;
}

header {
  justify-content: center;
  align-items: center;
  display: grid;
}

h1,
h2 {
  font-family: sans-serif;
  justify-content: center;
  align-items: center;
  display: grid;
}

.container {
  margin-left: 100px;
  margin-right: 100px;
}

.grid-wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}

.grid-wrapper {
  display: none;
}

.grid-wrapper-certificates {
  display: grid;
  grid-gap: 20px;
  grid-template: 500px/ 550px 550px;
  justify-content: center;
}

.grid-wrapper-certificates div p {
  text-align: center;
  font-size: 22px;
}

#title-certificates {
  margin-top: 50px;
  margin-bottom: 50px;
}

.certificates-list {
  font-size: 1.5rem;
}

.qwiklabs {
  margin: 10px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.q-description {
  text-align: center;
  margin-bottom: 50px;
}

.q-badges {
  margin-left: 30px;
  margin-right: 30px;
}

.grid-wrapper-qwiklabs {
  display: grid;
  grid-gap: 20px;
  grid-template: 370px/ 300px 300px 300px 300px;
}

.box-q {
  /* height: 400px;
  width: 300px; */
  padding: 30px;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.15);
  margin: auto;
}
.box-q > img {
  width: 100%;
}

.box-q p {
  font-weight: bold;
  text-align: center;
}

.box-q p span {
  font-weight: normal;
}

.grid-wrapper-illustration {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  margin-left: 10%;
  margin-right: 10%;
}

.grid-wrapper-developer {
  display: grid;
  grid-gap: 20px;
  grid-template: 280px/ 438px 438px;
}

.grid-wrapper-js30 {
  display: grid;
  grid-gap: 20px;
  grid-template: 190px/ 300px 300px 300px 300px;
  padding-left: 0px;
}

.box > img {
  width: 100%;
}

.box {
  margin: 20px;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.15);
}

.bar h2 {
  margin-top: 5px;
  font-size: 16px;
  font-weight: bold;
}

.box-web {
  justify-content: center;
  text-align: center;
  background-color: #dddddd;
  border: 1px solid rgb(48, 44, 44);
}

.box:hover {
  transform: scale(1.1);
}

.box-web {
  color: #2b2f33;
}

.box-web a:hover {
  color: #2b2f33;
}

.box-web:hover .image {
  opacity: 0.3;
}

.box-web:hover .middle {
  opacity: 1;
}

ul {
  list-style: none;
  justify-content: center;
  align-items: center;
  display: grid;
  line-height: 180%;
}

.main img {
  width: 100%;
  height: 200px;
}

.main-js30 {
  width: 300px;
  height: auto;
}

.live {
  display: block;
  height: 100px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
  z-index: 1001;
}

.live_js {
  display: block;
  height: 100px;
  position: absolute;
  right: 0;
  top: 0;
  width: 70px;
  z-index: 1001;
}

.text a {
  background-color: #2b2f33;
  color: white;
  font-size: 16px;
  padding: 16px;
  border-radius: 10px;
}

.text-js30 a {
  background-color: #2b2f33;
  color: white;
  font-size: 12px;
  padding: 16px;
  border-radius: 10px;
}

.text a:hover {
  color: white;
}

.text-js30 a:hover {
  color: white;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.dev-language {
  display: flex;
}

.dev-language img {
  padding: 2px;
  height: 25px;
}

.dev-language p {
  font-size: 16px;
}

p {
  margin: 0px;
}

h2 {
  margin: 0px;
}

.box-js30 {
  background-color: #2b2f33;
}

.item14 {
  grid-column: 2/4;
}

.hero_title {
  display: flex;
  font-size: 36px;
  border-bottom: 0;
  font-weight: 100;
  letter-spacing: 2px;
  font-family: "againtsregular";
  color: #fff;
  text-shadow: 2px 2px 2px rgb(0 0 0 / 20%), 0 0 10px rgb(0 0 0 / 10%);
}

.hero_title .hashtag {
  color: #ffc600;
  font-size: 25px;
}

.hero_title .num {
  color: #ffc600;
  font-size: 1.5em;
  position: relative;
  top: 0.07em;
}

.yellow,
.fa-trophy {
  color: #ffc600;
}

.previous {
  display: none;
}

/* #modal-btn {
  background-color: transparent;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  padding-top: 50px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
  position: relative;
  background-color: white;
  padding: 20px;
  margin: auto;
  width: 75%;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
.close-btn {
  float: right;
  color: #2b2f33;
  font-size: 30px;
  font-weight: bold;
  cursor: pointer;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
} */

@media only screen and (max-width: 600px) {
  #navbar {
    display: none;
  }

  .container {
    margin-top: -30px;
    margin-left: auto;
    margin-right: auto;
  }

  .previous {
    display: inline-block;
    background-color: #202026;
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    border-radius: 50%;
    margin: 10px;
  }

  .certificates-page {
    margin-top: -30px;
  }

  .certificates-list {
    font-size: 20px;
  }

  .certificates-list ul {
    padding-left: 20px;
    padding-right: 20px;
  }

  #title-certificates {
    margin-bottom: auto;
    margin-top: auto;
  }

  .grid-wrapper-qwiklabs {
    display: block;
  }

  header {
    text-align: center;
  }

  #myCarousel {
    display: none;
  }

  .grid-wrapper {
    display: unset;
  }

  .grid-wrapper-illustration {
    grid-template-columns: none;
    margin: 0px;
  }

  .grid-wrapper-developer {
    justify-content: center;
    display: unset;
  }

  .box-web {
    margin-bottom: 20px;
  }

  .grid-wrapper-js30 {
    display: contents;
    justify-content: center;
  }

  .main-js30 {
    width: auto;
    height: auto;
  }

  .card {
    padding-left: 20px;
    padding-right: 20px;
  }
}
