body {
  margin: auto 0;
  background-color: #100e17;
  color: #e7e7e8;
  justify-content: center;
  text-align: center;
}

.zone {
  font-size: 2em;
  border-radius: 4px;
  transition: all 0.3s linear;
}

.zone:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -o-box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}

.zone-web {
  font-size: 2em;
  border-radius: 4px;
  transition: all 0.3s linear;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;
  position: relative;
  display: block;
}

/*NAV*/

.main-nav {
  display: flex;
  list-style: none;
  font-size: 0.7em;
  margin: 0;
  justify-content: center;
  padding-left: 0;
}

.section-separator {
  display: inline-flex;
}

.nav-item {
  padding: 20px;
  margin-left: 10px;
}

.navbar-fixed-top.scrolled {
  background-color: #2b2f33 !important;
  transition: background-color 200ms linear;
}

a {
  color: #f5f5f6;
  text-decoration: none;
}

.mobile-view {
  display: none;
}
#techonologist {
  display: none;
}

.cross {
  display: none;
}
a:hover {
  color: #0bbba0;
}

h1,
h2 {
  font-family: sans-serif;
}

.grid-wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.grid-wrapper-certificates {
  display: grid;
  grid-gap: 20px;
  grid-template: 500px/ 550px 550px;
  justify-content: center;
}

.grid-wrapper-certificates div p {
  text-align: center;
  font-size: 22px;
}

#title-certificates {
  margin-top: 50px;
  margin-bottom: 50px;
}

.grid-wrapper-illustration {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  margin-left: 50px;
  margin-right: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.grid-wrapper-developer {
  display: grid;
  grid-gap: 20px;
  grid-template: 260px/ 438px 438px;
}

.box > img {
  width: 100%;
}

.box {
  margin: 20px;
}

.bar h2 {
  margin-top: 5px;
  font-size: 16px;
  font-weight: bold;
}

.box-web {
  justify-content: center;
  text-align: center;
  background-color: #dddddd;
  border: 1px solid rgb(48, 44, 44);
}

.box:hover {
  transform: scale(1.1);
}

.box-web {
  color: #2b2f33;
}

.box-web a:hover {
  color: #2b2f33;
}

.box-web:hover .image {
  opacity: 0.3;
}

.box-web:hover .middle {
  opacity: 1;
}

ul {
  list-style: none;
}

.main img {
  width: auto;
  height: 200px;
}

.live {
  display: block;
  height: 100px;
  position: absolute;
  right: 0;
  top: 0;
  width: 100px;
  z-index: 1001;
}

.text a {
  background-color: #2b2f33;
  color: white;
  font-size: 16px;
  padding: 16px;
  border-radius: 10px;
}

.text a:hover {
  color: white;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.dev-language {
  display: flex;
}

.dev-language img {
  padding: 2px;
  height: 25px;
}

.dev-language p{
  font-size: 16px;
}

.item14 {
  grid-column: 2/4;
}

.hero_title {
  font-size: 36px;
  border-bottom: 0;
  font-weight: 100;
  letter-spacing: 2px;
  font-family: 'againtsregular';
  color: #fff;
  text-shadow: 2px 2px 2px rgb(0 0 0 / 20%), 0 0 10px rgb(0 0 0 / 10%);
}

.hero_title .hashtag {
    color: #ffc600;
    font-size: 25px;
}

.hero_title .num {
  color: #ffc600;
  font-size: 1.5em;
  position: relative;
  top: 0.07em;
}

@media only screen and (max-width: 600px) {
  .mobile-view {
    position: relative;
    top: 20px;
    display: block;
    float: right;
    margin-right: 23px;
  }
  #menu {
    position: relative;
    float: right;
  }
  .cross {
    margin-top: -20px;
  }
  .nav-popup {
    background-color: #100e17;
    display: flex;
    position: relative;
    top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    padding: 22px;
    border: 1px solid rgb(255, 255, 255);
    text-align: center;
  }
  .main-nav {
    font-size: 0.5em;
    padding: 0;
    display: block;
    margin-top: 20px;
  }
  .desktop-view {
    display: none;
  }
  .expand {
    display: block;
  }
  .logo {
    font-weight: 600;
  }
  #techonologist {
    display: inline;
  }
  #home {
    display: none;
  }
  .zone:hover {
    box-shadow: unset;
  }
  .nav-item {
    margin-left: 10px;
    padding: 5px;
  }
  .container {
    position: relative;
    top: 50px;
    position: absolute;
    z-index: -1;
    justify-content: center;
  }

  .grid-wrapper {
    margin-left: 0px;
    margin-right: 0px;
  }
  .grid-wrapper-illustration {
    margin-left: 0px;
    margin-right: 0px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
