@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,500;1,300&display=swap');

@font-face {
  font-family: 'BestermindRegular';
  src: url('/fonts/BestermindRegular.ttf');
}

* {
  margin: 0;
  padding: 0;
}
/* declaring the css variables colors */
:root {
  --color-primary-accent: #ffffff;
  --color-primary: #000;
  --color-button: #3d486c;
  --color-paragraph: #797979;
  --color-button-text: rgb(255, 255, 255);
  --color-background: #fff;
  --color-anchor: #242734;
  --color-anchor-hover: #313bac;
  --nav-bg-color: rgba(225, 225, 225, 0.4);
}

[data-theme='dark'] {
  --color-primary-accent: #242734;
  --color-primary: #fff;
  --color-button: #242734;
  --color-paragraph: #8a8a8a;
  --color-button-text: rgb(0, 0, 0);
  --color-background: #323647;
  --color-anchor: #ffffff;
  --color-anchor-hover: orangered;
  --nav-bg-color: rgba(14, 14, 14, 0.4);
}

body {
  background-color: var(--color-background);
  color: var(--color-primary);
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

a {
  color: var(--color-anchor);
  text-decoration: none;
}
